body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: radial-gradient(#00f2fe, #9067c6);
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

.container {
    width: 80%;
    padding: 0 10%;
}

header h1 {
    margin: 0;
}

.navbar {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: white;
}

.navbar a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    transition: 1.5s;
}

.navbar a:hover {
    background-color: #38bde9;
    color: black;
    border-radius: 5px;
}

.menu-icon {
    display: none;
    font-size: 30px;
    cursor: pointer;
}

.navbar-links {
    display: flex;
}

@media (max-width: 768px) {
    .navbar-links {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .navbar-links.active {
        display: flex;
    }

    .menu-icon {
        display: block;
    }
}

/* Search */
.Search {
    justify-content: center;
    display: grid;
    align-items: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 50px;
}

.Search h1 {
    font-size: 48px;
    margin: 0;
}

.Search li {
    padding: 1rem;
}

.Search p {
    font-size: 24px;
    margin: 10px 0;
}

.Search .buttons {
    margin-top: 20px;
    justify-content: space-around;
    display: flex;
}

.Search .buttons button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    font-size: 18px;
    margin: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.Search .buttons button:hover {
    background-color: #38bde9;
    color: black;
    border-radius: 5px;
}



/* footer */
footer {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
    left: 0;
    bottom: 0;
    width: 100%;
}

.social-links {
    margin: 3rem;
}

.social-links a {
    color: black;
    margin: 0 10px;
    text-decoration: none;
    background: white;
    margin: 1rem;
    padding: 1rem;
    border-radius: 24%;
    transition: all 1s;
}

.social-links i {
    font-size: 20px;
}

.footer-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
}

.footer-nav a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    transition: 1s;
    margin: 0 2rem;
}

.footer-nav a:hover {
    background-color: #38bde9;
    color: white;
    border-radius: 5px;
}

.social-links a:hover {
    background-color: #38bde9;
    color: white;
    border-radius: 5px;
}